<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row" id="test">
    {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>


<p id="response"> </p>
<p id="foundList"> </p>
<script>
$("#entry").submit( function(event) {
   event.preventDefault();
  });
var found = '';
$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);
                //string for found words
   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return } //check only alph. char
    /*   
    JSON requests: this sends typed content to "/_check" on serverside. There are 3 arguments returned: 
    1. is this a new word? (true if text = a word in word list. if new word is found, errase text box)
    2. are the characters in the jumble? (checks if you have used characters outide of jumbled characters. This will erase text box if not in jumble)
    3. Has this word been found? (checks if it is already counted as found. This will not errase text box because of cases like "as" and "ask")

    There are text for each. If the words "ask" and "as" were possible; you would enter "as" and it would be counted as found, when you enter "as" again an "already found message appears" but when you add "k", the word "ask" would be found

    There are functions calls to:
    foundList() which prints out the found words that have been saved to a string
    highlight_words() 
    -it should search the list from g.vocab and replace searched strings with highlights. So if I typed "as" of "sk" they should repecfully hightlight words like "ASk" "ASked" or "aSK" "aSKed"
    -currently this creates a new space for the word you are searching for. I have yet to fix it. Looking into ways of dealing with the template and how to search and replace the found substrings.
    -currently commented out, but there are some functions working. The code is based off of (talkerscode.com/webtricks/highlight-words-on-search-using-javascript.php) 
        */
   $.getJSON( "/_check", { text: txt }, 
              function(data) {
                //rsval = data.result;
                console.log("rsval: " + txt)
                if (data.result.new_word && data.result.in_jumble && !data.result.already_found) {
                   $("#response").html("You Found: " + txt);
                   found = found + txt.toUpperCase() + " ";
                   $("#attempt").val("");
                } else if (!data.result.new_word && data.result.already_found){
                   $("#response").html("You have found: " + txt);
                } else if (!data.result.in_jumble) {
                   $("#response").html("Not all of these letters: " + txt + " are in the jumble");
                   $("#attempt").val("");
                } else{
                   $("#response").html("Looking for: " + txt); 
                }
                foundList(found);
                highlight_words(txt);
               }
           );
   });
function foundList(list) {
  if (list=="") {
    $("#foundList").html("You have not found any words yet.");
  } else {
    $("#foundList").html("Already Found: " + list);
  }
}
function highlight_words(word) {
  var text = document.getElementById("test").value;
  if (text) {
    var pattern = new RegExp("("+text+")", "gi");
    var new_text = word.replace(pattern, "<span class ='highlight'>"+text+"</span>");
    document.getElementById("test").innerHTML=new_text;
  }

}
</script>
<style>
.highlight
{
  background-color: #00FEFE;
}
</style>

 </div> <!-- container -->
</body> </html>
